{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% load static %} 
{% block content%} 

  <!-- TITLE and Image-->
  {% comment %} <div class="container-fluid">
    <img class="img-fluid d-block m-auto" src="{% static 'img/success-banner.jpg' %}" alt="Banner" width="60%" height:"20px">
    <div class="text-white text-center" style="position:absolute;top:20%;left:50%;transform:translate(-50%, -50%);">
      <h3 calss="display-5">Analysis of Manifestos and Online Campaigns</h3>
    </div>
  </div> {% endcomment %}

  <!-- Table and Extra data -->
  <div class="container my-5">
    <!-- Campaign -->
    <div class="row">

      <div class="col-sm-12">

        <!-- Table -->  
        <div class="">
          
          <!-- Title -->
          <h3 class="mt-5 text-center my-3">Case Studies</h3>

          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date Start</th>
                <th scope="col">Date End</th>
              </tr>
            </thead>

            <tbody class="">
              {% if campaigns %}
                {% for camp in campaigns %}
                  <tr class="">
                    <th scope="row" class="text-right">{{camp.id}}</th>
                    <td>{{camp.name}}</td>
                    <td>{{camp.description}}</td>
                    <td>{{camp.start_date}}</td>
                    <td>{{camp.end_date}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>study cases</strong> yet</p>
              {% endif %}
            </tbody>
          </table>

        </div>

      </div>

      <!-- Extra Data -->
      {% comment %} <div class="col-sm-12 col-md-5">
        <h3 class="text-center">More info...<h3>
        <div style="height: 200px; border: 1px solid #000000">
          Some
        </div>
      </div> {% endcomment %}

    </div>

    
    <!-- Candidate -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Title -->
          <h3 class="mt-5 text-center my-3">Candidates</h3>

          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Campaign</th>
                <th scope="col">Type</th>
                <th scope="col">Party</th>
              </tr>
            </thead>

            <tbody class="">
              {% if candidates %}
                {% for cand in candidates %}
                  <tr class="">
                    <th scope="row" class="text-right">{{cand.name}}</th>
                    <td>{{cand.lastname}}</td>
                    <td>{{cand.campaign_id}}</td>
                    <td>{{cand.type}}</td>
                    <td>{{cand.party}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>candidates</strong> yet</p>
              {% endif %}
            </tbody>
          </table>

      </div>
    </div>


    <!-- Manifest -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Title -->
          <h3 class="mt-5 text-center my-3">Manifestos</h3>

          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Candidate</th>
                <th scope="col">Manifest</th>
                <th scope="col">Collect Date</th>
              </tr>
            </thead>

            <tbody class="">
              {% if docs %}
                {% for doc in docs %}
                  <tr class="">
                    <th scope="row" class="text-right">{{doc.name}}</th>
                    <td>{{doc.candidate_id}}</td>
                    <td>{{doc.manifest}}</td>
                    <td>{{doc.collect_date}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>manifestos</strong> yet</p>
              {% endif %}
            </tbody>
          </table>

      </div>
    </div>

    <!-- Social Media Account -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Title -->
          <h3 class="mt-5 text-center my-3">Social Media Accounts</h3>

          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Candidate</th>
                <th scope="col">Screen Name</th>
                <th scope="col">Account</th>
              </tr>
            </thead>

            <tbody class="">
              {% if smas %}
                {% for sma in smas %}
                  <tr class="">
                    <th scope="row" class="text-right">{{sma.candidate_id}}</th>
                    <td>{{sma.screen_name}}</td>
                    <td>{{sma.account}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>social media accounts</strong> yet</p>
              {% endif %}
            </tbody>
          </table>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-block btn-primary my-5">
        <a class="nav-link p-0 text-white" href="{% url 'posts' %}">
          <strong>See posts</strong>
        </a>
      </button>
      </div>
    </div>
  </div>


  {% comment %} <hr class="my-5" />
  {% include "middle/visualizer.html" %} {% endcomment %}

{% endblock %}
