{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% load static %} 
{% block content%} 

  <!-- TITLE -->
  <div class="container-fluid">
    <div class="row m-0 p-0">
      <div class="col-sm-12 text-center my-5">
        <h1 calss="display-5">Manifests and Online Campaigns Analysis</h1>
        {% comment %} <img class="img-fluid mb-3 mb-lg-0" src="{% static 'StudyCasesManage/assets/img/success-banner.jpg' %}" alt="Banner img" height="20%"/> {% endcomment %}
      </div>
    </div>
  </div>


  <!-- Table and Extra data -->
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-7">

        <!-- Table -->  
        <div class="d-flex-column">
          <!-- Title -->
          <h3>Latest Study Cases</h3>

    
          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Start</th>
                <th scope="col">Date End</th>
                <th scope="col">Num. of candidates</th>
              </tr>
            </thead>

            <tbody>

              {% if campaigns %}
                {% for camp in campaigns %}
                  <tr>
                    <th scope="row">{{camp.description}}</hd>
                    <td>{{camp.start_date}}</td>
                    <td>{{camp.end_date}}</td>
                    <td class="text-right">{{camp.id}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>study cases</strong> yet</p>
              {% endif %}

            </tbody>
          </table>

        </div>
      </div>

      <!-- Extra Data -->
      <div class="col-sm-12 col-md-5">
        <h3 class="text-center">More info...<h3>
        <div style="height: 200px; border: 1px solid #000000">
          Some
        </div>
      </div>

    </div>
  </div>

  <hr class="my-5" />

  {% include "middle/visualizer.html" %}
{% endblock %}
