{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% load static %} 
{% block content%} 

  <!-- TITLE and Image-->
  <div class="container-fluid">
    <img class="img-fluid d-block m-auto" src="{% static 'img/success-banner.jpg' %}" alt="Banner" width="60%" height:"20px">
    <div class="text-white text-center" style="position:absolute;top:20%;left:50%;transform:translate(-50%, -50%);">
      <h3 calss="display-5">Analysis of Manifestos and Online Campaigns</h3>
    </div>
  </div>

  <!-- Table and Extra data -->
  <div class="container my-5">
    <div class="row">

      <div class="col-sm-12">

        <!-- Table -->  
        <div class="">
          
          <!-- Title -->
          <h3 class="mt-5 text-center my-3">Latest Case Studies</h3>


          <!-- Table -->
          <table class="table table-hover table-sm table-striped table-inverse table-responsive table-dark w-100">
            <thead class="thead-inverse w-100">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date Start</th>
                <th scope="col">Date End</th>
              </tr>
            </thead>

            <tbody class="w-100">
              {% if campaigns %}
                {% for camp in campaigns %}
                  <tr class="w-100">
                    <th scope="row" class="text-right">{{camp.id}}</th>
                    <td>{{camp.name}}</td>
                    <td>{{camp.description}}</td>
                    <td>{{camp.start_date}}</td>
                    <td>{{camp.end_date}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <p>There are no <strong>study cases</strong> yet</p>
              {% endif %}
            </tbody>
          </table>

        </div>

      </div>

      <!-- Extra Data -->
      {% comment %} <div class="col-sm-12 col-md-5">
        <h3 class="text-center">More info...<h3>
        <div style="height: 200px; border: 1px solid #000000">
          Some
        </div>
      </div> {% endcomment %}

    </div>
  </div>

  {% comment %} <hr class="my-5" />
  {% include "middle/visualizer.html" %} {% endcomment %}

{% endblock %}
