{% extends 'base.html' %} 
{% block title %}Configurator{% endblock %} 

{% block content %}
  <!-- Title -->
  <div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-6">Case Study Configurator</h1>
        <hr class="my-2"/>
      </div>
    </div>
  </div>

  {% include 'middle/conf-options.html' %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Title of chosen <mark>configuration</mark></h3>
      </div>
    </div>
  </div>


  {% block config_option %}{% endblock %}

  
  <!-- Suppose A specific form -->
  <div class="container">

    <!-- Case study and entities creation -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Create Entities</h3>
      </div>
    </div>

    <div class"row">
      <div class="col-sm-12">

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message | safe }}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-around">
          {% comment %} {% include 'forms/create-candidate-form.html' %} {% endcomment %}

          {% for form in forms %}
            {% if form.error %}
              <p class="text-danger">Sorry, something went wrong, while loading the form</p>
            {% else %}
              <div class="form-group">
                <form action="" method="POST">{% csrf_token %} 
                  {{form.as_p}}
                
                  <input type="submit" value="Create"/>

                  <div class="d-flex justify-content-end">
                    <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                  </div>
                </form>
              </div>
            {% endif %}
          {% endfor %}
          
        </div>

      </div>
    </div>

    <hr class="my-5 w-75"/>


    <!-- Collection Conf -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Data Collection Configuration</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="d-flex justify-content-around">
          {% if collection_conf.error %}
            <p class="text-danger">Sorry, something went wrong, while loading the form</p>
          {% else %}
            <div class="form-group">
              <form action="" method="POST">{% csrf_token %} 
                {{collection_conf}}
                <input type="submit" value="Accept"/>

                <div class="d-flex justify-content-end">
                  <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="my-5 w-75"/>


    <!-- Document Conf -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Document Configuration</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="d-flex justify-content-around">
          {% if document_conf.error %}
            <p class="text-danger">Sorry, something went wrong, while loading the form</p>
          {% else %}
            <div class="form-group">
              <form action="" method="POST" class="d-flex flex-column">{% csrf_token %} 
                {{document_conf}}
                <input type="submit" value="Accept"/>

                <div class="d-flex justify-content-end">
                  <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="my-5 w-75"/>


    <!-- Analysis Conf -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Analysis Configuration</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="d-flex justify-content-around">
          {% if analysis_conf.error %}
            <p class="text-danger">Sorry, something went wrong, while loading the form</p>
          {% else %}
            <div class="form-group">
              <form action="" method="POST">{% csrf_token %} 
                {{analysis_conf}}
                <input type="submit" value="Start"/>

                <div class="d-flex justify-content-end">
                  <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="my-5 w-75"/>


    <!-- Delete Account -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Delete Account</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="d-flex justify-content-around">
          <p>Are you sure?</p>
          <input type="submit" value="Yes"/>
          <input type="submit" value="No"/>
        </div>
      </div>
    </div>

    <hr class="my-5 w-75"/>
    

    <!-- TEST -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">TEST</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="d-flex justify-content-around">
          {% if test_form.error %}
            <p class="text-danger">Sorry, something went wrong, while loading the form</p>
          {% else %}
            <div class="form-group">
              <form enctype="multipart/form-data" action="" method="POST" class="d-flex flex-column">{% csrf_token %} 
                <!--<input type="file" name="myfile" class="form-control">-->
                {{test_form}}
                <input type="submit" value="Add"/>

                <!--{{test_form.document}}-->
                <div class="d-flex justify-content-end">
                  <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                </div>
              </form>
            </div>
          {% endif %}
        </div>

      </div>
    </div>

    <hr class="my-5 w-75"/>
  </div>

{% endblock %}
