{% extends 'base.html' %} 
{% block title %}Configurator{% endblock %} 

{% block content %}
  <!-- Title -->
  {% comment %} <div class="jumbotron mt-5 m-0">
    <div class="container text-center">
      <h3 class="display-6">Configurator</h3>
      <hr class="my-2"/>
    </div>
  </div> {% endcomment %}

  {% include 'middle/conf-options.html' %}

  {% comment %} <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5"><mark>Choose an option</mark></h3>
      </div>
    </div>
  </div> {% endcomment %}

  {% block config_option %}{% endblock %}

{% endblock %}
