<!doctype html>
<html lang="en">
  <head>
    <title>Create Candidate</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    {% if form.error %}
      <p class="text-danger">Sorry, something went wrong, while loading the form</p>
    {% endif %}

    <div class="form-group">
      <form action="" method="POST">{% csrf_token %} 
        {{form.as_p}}
        <input type="submit" value="Add"/>
        <div class="d-flex justify-content-end">
          <small id="emailHelpId" class="form-text text-muted">Please fill all data</small>
        </div>
      </form>
    </div>
  </body>
</html>