<!doctype html>
<html lang="en">
  <head>
    <title>Configuration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
  
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'home' %}#visualizer-section">
                <strong>Go to Visualizer </strong>
              </a>
            </button>
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'case_conf' %}">
                <strong>Create a Entity</strong>
              </a>
            </button>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'data_collect_conf' %}">
                <strong>Configure Data Collection</strong>
              </a>
            </button>
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'analysis_conf' %}">
                <strong>Start Analysis</strong>
              </a>
            </button>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'doc_conf' %}">
                <strong>Supply/Unlink Document</strong>
              </a>
            </button>
            <button type="button" class="btn btn-warning my-2">
              <a class="nav-link text-dark" href="{% url 'del_account' %}">
                <strong>Delete Account</strong>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>