<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visualizer</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
  
    <!-- Title -->
    <div class="jumbotron jumbotron-fluid" id="visualizer-section">
      <div class="container text-center">
        <h1 class="display-6" id="visualizer">Case Study Visualizer</h1>
        <hr class="my-2" />
      </div>
    </div>


    <!-- Options -->
    <div class="container mb-5">
      <div class="d-flex justify-content-between">

        <!-- Select a Case Study -->
        <div class="d-flex-column">
          <div class="btn-group-vertical mr-auto mb-3" role="group" aria-label="">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary" title="Select a Case Study">Select a Case Study</button>

              <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

              <div class="dropdown-menu" aria-labelledby="dropdownId">
                {% if campaigns %}
                  {% for camp in campaigns %}
                    <a class="dropdown-item" href="#">{{camp.name}}</a>
                  {% endfor %}
                {% else %}
                  <p class="dropdown-item" href="#">There are no <strong>study cases</strong> yet</p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="mt-3 mb-2 text-right">
            <button type="button" class="btn btn-warning">Manifests vs Timeline</button>
          </div>
        </div>


        <!-- Select a Candidate -->
        <div class="d-flex-column">
          <div class="btn-group-vertical mr-auto mb-3" role="group" aria-label="">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary" title="Select a Candidate">Select a Candidate</button>
              <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">    
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownId">
                {% if candidates %}
                  {% for candidate in candidates %}
                    <a class="dropdown-item" href="#">{{candidate}}</a>
                  {% endfor %}
                {% else %}
                  <a class="dropdown-item" href="#">There are no <strong>candidates</strong> yet</a>
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="mt-3 mb-2 text-right">
            <button type="button" class="btn btn-warning">Post vs Timeline</button>
          </div>
        </div>


        <!-- Select a Document -->
        <div class="d-flex-column">
          <div class="btn-group-vertical mr-auto mb-3" role="group" aria-label="">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary" title="Select a Document">Select a Document</button>
              <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">    
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownId">
                {% if docs %}
                  {% for doc in docs %}
                    <a class="dropdown-item" href="#">{{doc}}**</a>
                  {% endfor %}
                {% else %}
                  <a class="dropdown-item" href="#">There are no <strong>documents</strong> yet</a>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="mt-3 mb-2 text-right">
            <button type="button" class="btn btn-warning">Words Frequencies</button>
          </div>
        </div>

      </div>
    </div>

    
    <!-- Data/Info -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 p-3" style="border:1px solid #000000;">
          Data
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="d-flex flex-column justify-content-between">
            <div class="p-3 m-2" style="height: 200px; border:1px solid #000000;">
              Pie
            </div>

            <div class="p-3 m-2" style="height: 200px; border:1px solid #000000;">
              Table
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
