<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nav Bar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <style>
      .mactive {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>

    <div class="row position-fixed w-100" style="z-index:9999;">
      <div class="col-sm-12 p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- brand 
            <a class="navbar-brand" href="#">USFQ</a>
            -->

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainNavBar"
            aria-controls="mainNavBar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <!-- Trigram -->
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Left Side -->
          <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.path == '/'%}active mactive{% endif %}" title="HOME">
                <a class="nav-link text-warning ml-4" href="{% url 'home' %}">
                  HOME <span class="sr-only">(current)</span>
                </a>
              </li>
              {% comment %} <li class="nav-item {% if request.path == '/'%}active mactive{% endif %}" title="Visualizer">
                <a class="nav-link text-warning ml-2" href="{% url 'home' %}#visualizer-section">Visualizer</a>
              </li> {% endcomment %}
              <li class="nav-item {% if request.path == '/conf'%}active mactive{% endif %}" title="Configurator">
                <a class="nav-link text-warning ml-2" href="{% url 'configurator' %}">Configurator</a>
              </li>
            </ul>
            
            <!-- Right Side -->
            <ul class="navbar-nav my-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item" title="Sign-up">
                  <a class="nav-link text-white" href="#">User: {{user.username}}</a>
                </li>
                <li class="nav-item" title="Sign-up">
                  <a class="nav-link text-warning" href="{% url 'logout' %}">Log out</a>
                </li>
              {% else %}
                <li class="nav-item {% if request.path == '/login'%}active mactive{% endif %}" title="Sign-in">
                  <a class="nav-link text-warning" href="{% url 'login' %}">SIGN-IN</a>
                </li>
                <li class="nav-item {% if request.path == '/register'%}active mactive{% endif %}" title="Sign-up">
                  <a class="nav-link text-warning" href="{% url 'register' %}">SIGN-UP</a>
                </li>
              {% endif %}
            </ul>

          </div>
        </nav>
      </div>
    </div>
    
  </body>
</html>
