<!doctype html>
<html lang="en">
  <head>
    <title>Configuration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">Go to Visualizer</button>
            <button type="button" class="btn btn-warning my-2">Create Entity</button>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">Configure Case Study</button>
            <button type="button" class="btn btn-warning my-2">Configure Data Collection</button>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">Supply/Unlink Document</button>
            <button type="button" class="btn btn-warning my-2">Start Analysis</button>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="d-flex flex-column">
            <button type="button" class="btn btn-warning my-2">Delete Account</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>