<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <footer class="row pt-2 pb-5 bg-dark text-white">
      <div class="col-sm-12 p-3">
        <div class="text-center">
          <h2 class="display-4">Manifests and Online Campaigns Analysis</h2>
        </div>

        <div class="text-center mt-5">
          &#169; 2020. <strong>Alejandro Maruri</strong>
        </div>
      </div>
    </footer>
  </body>

</html>
