<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <footer class="row p-5 bg-dark text-white">
      <div class="col-sm-12 p-3">
        <div class="p-4 mt-1">
          <div class="text-center">
            <h2 class="display-4">Building the Project...</h2>
          </div>
        </div>

        <div class="text-center">
          &#169;, 2020
        </div>
      </div>
    </footer>


    <script>
      $("#navId a").click((e) => {
        e.preventDefault();
        $(this).tab("show");
      });
    </script>
  </body>
</html>
