{% extends 'configurator-base.html' %}


{% block config_option %}
  <!-- Analysis Conf -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Analysis Configuration</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message | safe }}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-around">
          {% if form.error %}
            <p class="text-danger">Sorry, something went wrong, while loading the form</p>
          {% else %}
            <div class="form-group">
              <form action="" method="POST">{% csrf_token %} 
                {{form}}
                <input type="submit" value="Start"/>

                <div class="d-flex justify-content-end">
                  <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="my-5 w-75"/>
{% endblock %}