{% extends 'configurator_base.html' %}


{% block config_option %}
  <!-- Case study and entities creation -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb-5">Case Study Entities</h3>
      </div>
    </div>

    <div class"row">
      <div class="col-sm-12">

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message | safe }}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-around">
          {% comment %} {% include 'forms/create-candidate-form.html' %} {% endcomment %}

          {% for form in forms %}

            {% if form.error %}
              <p class="text-danger">Sorry, something went wrong, while loading the form</p>
            {% else %}
              <div class="form-group">
                <form action="" method="POST">{% csrf_token %} 
                  {{form.as_p}}
                  
                  <input type="submit" value="Create"/>
                  <div class="d-flex justify-content-end">
                    <small id="formHelper" class="form-text text-muted">Please fill all data</small>
                  </div>
                </form>
              </div>
            {% endif %}

          {% endfor %}
          
          
        </div>

      </div>
    </div>

    <hr class="my-5 w-75"/>
{% endblock %}
